.container {
	display: flex;
	gap: 24px;
	width: 100%;
}

.planner_container {
	background-color: #fff;
	border-radius: 30px;
	max-width: 704px;
	width: 100%;
	height: 704px;
}

.planner_header {
	padding: 50px 48px 24px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eeeeee;
}

.btn_group {
	display: flex;
	gap: 24px;
	align-items: center;
}

.btn_group button {
	width: 64px;
	height: 64px;
	border-radius: 50%;
	background-color: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn_group button:hover {
	background-color: var(--light-blue);
}

.planner_content{
	max-height: 565px;
	overflow-y: auto;
}

.filter_container{
	display: flex;
	flex-direction: column;
	gap: 24px;
	max-width: 304px;
	width: 100%;
}

.filter{
	background-color: #fff;
	height: 158px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 30px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.filter:hover {
	box-shadow: 0px 4px 30px 0px #00000033;
}

.active{
	background-color: var(--light-blue);
}